nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
}
a {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: black;
}

.active {
  font-size: bold;
  font-weight: bold;
  color: blue;
  background-color: aqua;
}
