<nav>
       <a routerLink=""
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{ exact: true }"
       >HOME</a>
        <a routerLink="/about"
        [routerLinkActive]="['active']"
        >ABOUT US</a>
        <a routerLink="/academics"
        [routerLinkActive]="['active']"
        >ACADEMICS</a>
        <a routerLink="/carrers"
        [routerLinkActive]="['active']"
        >CARRERS</a>
        <a routerLink="/contact"
        [routerLinkActive]="['active']"
        >CONTACT US</a>


 
</nav>
<router-outlet></router-outlet>