<!-- <div>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input type="text" placeholder="Enter id" name="id" required minlength="1" #id="ngModel"  pattern="[0-9]+" [ngModel]="selecteduser?.id">
  <span  class="err" *ngIf="id?.invalid && id?.touched">Enter Valid id</span>
  <br>
  <br>
  <input type="text" placeholder="Enter name" name="name" required minlength="1" #name="ngModel"  pattern="[a-zA-Z\s]+" [ngModel]="selecteduser?.name">
  <span class="err" *ngIf="name?.invalid && name?.touched">Enter Valid name</span>

  <br>
  <br>
  <input type="text" placeholder="Enter age" name="age" required minlength="1" #age="ngModel"  pattern="[0-9]+" [ngModel]="selecteduser?.age">
  <span class="err" *ngIf="age?.invalid && age?.touched">Enter valid age</span>
  <br>
  <br>
  @if(selecteduser){
    <button>Update User</button>


  }@else{
    <input type="submit" value="Add Student" [disabled]="userForm.invalid">

  }
</form>
  
<p>List of students</p>
@for(s of studentdata;track s.id){
  <li>
    {{s.name}} 
  </li>
  <li>
    {{s.age}}
  </li>
  <li>
    <button (click)="deleteUsers(s.id)">Delete</button>
  </li>
  <br>
  <li>
    <button (click)="selectUsers(s.id)">Update</button>
  </li>
  <p>**********</p>

}
</div> -->

<!-- <app-studentlist></app-studentlist> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
